body {
    font-family : "Noteworthy"

}

h1, h2 {
    font-family : "SignPainter";
}

.jumbotron {
    padding: 0px;
    color:  black;
    margin: 0;
    text-align: center;
    border: solid 
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;

}



